.vscode/settings.json
klemen/day1/build/app
klemen/day1/build/cmake_install.cmake
klemen/day1/build/CMakeCache.txt
klemen/day1/build/input.txt
klemen/day1/build/Makefile
klemen/day1/build/CMakeFiles/cmake.check_cache
klemen/day1/build/CMakeFiles/CMakeDirectoryInformation.cmake
klemen/day1/build/CMakeFiles/CMakeOutput.log
klemen/day1/build/CMakeFiles/Makefile.cmake
klemen/day1/build/CMakeFiles/Makefile2
klemen/day1/build/CMakeFiles/progress.marks
klemen/day1/build/CMakeFiles/TargetDirectories.txt
klemen/day1/build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
klemen/day1/build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
klemen/day1/build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
klemen/day1/build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
klemen/day1/build/CMakeFiles/3.18.4/CMakeSystem.cmake
klemen/day1/build/CMakeFiles/3.18.4/CompilerIdC/a.out
klemen/day1/build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
klemen/day1/build/CMakeFiles/3.18.4/CompilerIdCXX/a.out
klemen/day1/build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
klemen/day1/build/CMakeFiles/app.dir/build.make
klemen/day1/build/CMakeFiles/app.dir/cmake_clean.cmake
klemen/day1/build/CMakeFiles/app.dir/CXX.includecache
klemen/day1/build/CMakeFiles/app.dir/depend.internal
klemen/day1/build/CMakeFiles/app.dir/depend.make
klemen/day1/build/CMakeFiles/app.dir/DependInfo.cmake
klemen/day1/build/CMakeFiles/app.dir/flags.make
klemen/day1/build/CMakeFiles/app.dir/link.txt
klemen/day1/build/CMakeFiles/app.dir/main.o
klemen/day1/build/CMakeFiles/app.dir/progress.make
klemen/day2/build/app
klemen/day2/build/cmake_install.cmake
klemen/day2/build/CMakeCache.txt
klemen/day2/build/input.txt
klemen/day2/build/Makefile
klemen/day2/build/CMakeFiles/cmake.check_cache
klemen/day2/build/CMakeFiles/CMakeDirectoryInformation.cmake
klemen/day2/build/CMakeFiles/CMakeOutput.log
klemen/day2/build/CMakeFiles/Makefile.cmake
klemen/day2/build/CMakeFiles/Makefile2
klemen/day2/build/CMakeFiles/progress.marks
klemen/day2/build/CMakeFiles/TargetDirectories.txt
klemen/day2/build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
klemen/day2/build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
klemen/day2/build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
klemen/day2/build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
klemen/day2/build/CMakeFiles/3.18.4/CMakeSystem.cmake
klemen/day2/build/CMakeFiles/3.18.4/CompilerIdC/a.out
klemen/day2/build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
klemen/day2/build/CMakeFiles/3.18.4/CompilerIdCXX/a.out
klemen/day2/build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
klemen/day2/build/CMakeFiles/app.dir/build.make
klemen/day2/build/CMakeFiles/app.dir/cmake_clean.cmake
klemen/day2/build/CMakeFiles/app.dir/CXX.includecache
klemen/day2/build/CMakeFiles/app.dir/depend.internal
klemen/day2/build/CMakeFiles/app.dir/depend.make
klemen/day2/build/CMakeFiles/app.dir/DependInfo.cmake
klemen/day2/build/CMakeFiles/app.dir/flags.make
klemen/day2/build/CMakeFiles/app.dir/link.txt
klemen/day2/build/CMakeFiles/app.dir/main.o
klemen/day2/build/CMakeFiles/app.dir/progress.make
